<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>User Change password</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Seaweed+Script&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="/assets/css/MUSA_carousel-product-cart-slider-carousel-product-cart-slider.css">
    <link rel="stylesheet" href="/assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Centered-Links-icons.css">
</head>

<body>
<section>
    <header th:replace="~{fragments/header}">

    </header>
</section>

<div class="container">
    <h3 class="text-dark mb-4">Profile</h3>
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">User Settings</p>
        </div>
        <div class="card-body">
            <form method="post" action="/user/change-password">
                <div class="row" style="margin-bottom: 25px;text-align: left;">
                    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2"
                         style="display: inline;text-align: center;margin-bottom: 25px;"><img
                            class="rounded-circle mb-3 mt-4 img-fluid"
                            th:src="@{'/images/user_avatar/' + ${user.image}}"
                            style="display: inline;max-height: 110px;"><br>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 col-xxl-10 align-self-center">
                        <div class="row">
                            <div class="col-md-12 text-start">
                                <div class="mb-3">
                                    <label class="form-label"
                                           for="oldPassword"><strong>Old password</strong></label><input
                                        class="form-control" type="password" id="oldPassword" name="oldPassword"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-12 text-start">
                                <div class="mb-3">
                                    <label class="form-label" for="newPassword"><strong>New
                                        password</strong></label><input class="form-control" type="password"
                                                                        id="newPassword" name="newPassword"
                                                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-12 text-start">
                                <div class="mb-3">
                                    <label class="form-label" for="confirmPassword"><strong>Confirm password</strong></label><input class="form-control" type="password"
                                                                        id="confirmPassword" name="confirmPassword"
                                                                        placeholder="Password">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align: right;margin-top: 5px;">
                        <button class="btn btn-primary btn-sm" id="submitBtn"
                           type="submit">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>

<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="https://geodata.solutions/includes/countrystate.js"></script>

</body>

</html>


