<!--
<section>
    <div data-bss-parallax-bg="true"
         style="height: 500px; background-image: url(assets/img/slider1-1.jpg);background-size: contain;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="max-width: 350px;">
                        <h1 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h1>
                        <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus
                            donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button"
                                                                 href="#"
                                                                 style="background: var(&#45;&#45;bs-primary-border-subtle);">Shop
                        Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


-->


<section th:fragment="headerFragment (headerText)">
    <div class="col-xxl-12" style="position: relative">
        <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center"
             th:style="'height: 600px; background-image: url(' + @{/assets/img/slider1-1.jpg} + '); background-size: cover;'">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h1>
                            <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien,
                                risus
                                donec ad fusce augue interdum.</p>
                            <a class="btn btn-primary btn-lg me-2" role="button"
                               href="/shop"
                               style="background: var(&#45;&#45;bs-primary-border-subtle);">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>